/* App.css */

.form-container {
   
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  
  .form-group {
    margin: 15px 0;
  }
  
  label {
    display: block;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  
  