.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}
.btn-primary
{
  background-color: orangered;
}
.error_login {
  display: block;
  color: red;
}
.Auth-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}
.Auth-img-container {
  display: flex;
  width: 350px;
  justify-content: center;
  align-items: center;
}

.Auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
