.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#allDishes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.nav-button {
  margin: 10px;
  text-decoration: none;
}
.filterBar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(237, 74, 38);
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}

.priceSidebar {
  position: relative;
  box-shadow: 4px 4px 4px grey;
  padding: 5px;
  margin: 5x;
  border: 1px solid grey;
}
/* .price-sidebar-container
{
  display: flex;
  
  justify-content: center;
} */

.shippingCard {
  box-shadow: 4px 4px 4px grey;
  padding: 5px;
  margin: 2px;
  border: 1px solid grey;
}
.labelStepper {
  font-size: medium;
  color: gray;
  display: flex;
  align-items: center;
}
.indexStepper {
  padding: 2px;
  font-size: medium;
  color: white;
  display: inline-block;
  margin: 4px;
}
.primary-button {
  background-color: rgb(49, 92, 210);
  font-size: medium;
  padding: 5px;
  font-weight: 500;

  color: white;
  border: 1px solid black;
}
.primary-button:hover {
  box-shadow: 2px 2px 2px;
}

.titleHeading {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(237, 74, 38);
  font-size: medium;
  flex-direction: row;
  color: white;
  padding: 10px;
  margin: 0px;
}
.price-content {
  display: flex;
  justify-content: space-between;
  margin: 1px;
}
.text-primary-green {
  color: green;
}
.rating {
  display: flex;
  position: relative;

  padding: 10px;
}
.addressContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 2px 2px 2px;
  border-radius: 2px;
}
.addressContainer .addressBox
{
  width:100%;

 width: 32%;
 height: 20%;
}
.star {
  position: relative;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("./img/star.png");
  background-size: cover;
  display: inline-block;
}
@media all and (max-width: 600px) {
  #allDishes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
